.besoin {
  width: 100%;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  min-height: 600px;
}

.besoin-progress {
  width: 60%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.besoin-progress hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--text-color-4);
}

.besoin-progress div {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50%;
}

div.progress-now {
  border: solid 2px var(--main-color);
  background-color: white;
}
div.progress-off {
  background-color: var(--text-color-4);
}

div.progress-on {
  background-color: var(--main-color);
}

hr.progress-now,
hr.progress-on {
  background-color: var(--main-color);
}
.besoin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  max-width: 500px;
}

.besoin-form h1 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: clamp(1rem, 4vw, 2rem);
}
.besoin-form input {
  border: 2px solid var(--text-color-3);
  padding: 5px 10px;
}

.besoin-form__control {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.besoin-form__control button {
  width: 100%;
  padding: 5px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: none;
  outline: none;
  color: white;
}

.besoin-form__next-button {
  background-color: var(--main-color);
}
.besoin-form__prev-button {
  background-color: var(--text-color-4);
}

.besoin-confirmation {
  border: 1px solid black;
  padding: 20px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .besoin {
    margin-top: 120px;
    height: calc(100vh - 120px);
    flex-direction: column;
  }
}
